@font-face {
	font-family: 'pico-8';
	src: url('./pico-8.woff') format('woff');
}

body {
	background-color: #333;
	color: #c2c3c7;
	font-size: 0.5em;
	font-family: pico-8;
	line-height: 1.5;
}

a {
	color: #29adff;
}

a:visited {
	color: #83769c;
}

a:hover {
	background-color: #5f574f;
}

h1 {
	color: #fff;
	font-weight: normal;
}

li {
	margin-bottom: 0.5em;
}

dt {
	color: #ffccaa;
}

dd {
	margin-left: 2em;
}

div.main {
	width: 800px;
	margin: auto;
}

div.game {
	width: 580px;
	float: left;
}

div.inst {
	width: 212px;
	margin-left: 8px;
	float: left;
}

div.github {
	text-align: right;
}

div.github a {
	color: #ff77a8;
	padding: 3px;
	border: solid 3px #ff77a8;
	text-decoration: none;
}

canvas#canvas {
	width: 580px;
	height: 540px;
}

.pico8_el {
	float: left;
	width: 106px;
	display: inline-block; 
	margin: 1px;
	padding: 4px;
	text-align: center;
	color: #fff;
	background-color: #777;
	font-family: verdana;
	font-size: 9pt;
	cursor: pointer;
	cursor: hand;
}

.pico8_el a{
	text-decoration: none;
	color: #fff;
}

.pico8_el:hover{
	background-color: #aaa;
}

.pico8_el:link{
	background-color: #aaa;
}
